.principal{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.body{
    width: 1350px;
    padding: 10px;
}

.card {
    width: 250px;
    height: 430px;
    display: flex;
    align-items: center;
}

